<% provide(:title, "About") %>
<section class="centered">
	<div class="row">
		<div class="grid-80 centered clearfix">
			<h2 class="about-title">
			<i class="material-icons">trending_up</i>
			About 345 Thrive
			</h2>
		</div><!-- hello -->
		<div class="grid-80 centered picture">
			<!-- Picture in background -->
		</div>
	</div><!-- row -->
</section>

<section class="strip">
	<div class="row">
	<div class="columns grid-80 centered">
	<h4 class="italic">
	How can your organization elevate the best in people and promote
cohesiveness, creativity and collaboration?
	</h4>
	<br>
	<p>
	Kissaah is a dynamic tool for organizations to thrive in a complex
environment, helping employees navigate times of transition.
	</p>
	<a class="button medium centered primary" href="http://www.kissaah.com">
	LEARN HOW &gt;&gt;
	</a>
	</div>
	</div><!-- row end -->
</section><!-- strip -->

<section class="centered">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
		<div class="testimonial">
		<h3>
		Kissaah has been an amazing tool for our associates.
		</h3>
		<br>
		<p>
		“We introduced the tool to our talent program and the feedback has been very positive.
The Kissaah team worked hard to ensure the tool matched and worked with our program. The feedback from our associates has been that it’s great to be able to have an online platform to track their progress against heir life goals. I would recommend Kissaah to any organization.”
		</p>
		<br>
		<p class="text-right">
		—Director of Talent Development, Coca-Cola South Asia - 2015 Amy Stanley
		</p>
		</div>
		</div><!-- columns grid-80 centered -->
	</div><!-- row end -->

</section><!-- centered -->

<section class=" strip bottomfix">
	<div class="row">
			<div class="columns grid-80 centered text-center" id="contact">
				<h3><span class="highlight">
				It's time to get started.
				</span></h3>
				<a class="button medium centered primary" href="http://www.kissaah.com">
				CONTACT &gt;&gt;
				</a>
			</div>
	</div><!-- row end -->
</section><!-- bottomfix -->