<% provide(:title, "About") %>

<section class="centered bottomfix">
	<div class="row">
		<div class="columns grid-80 centered clearfix">

		<h2>StaticPages#about</h2>
		<p>Find me in app/views/static_pages/about.html.erb</p>

		</div><!-- columns -->
	</div><!-- row -->
</section><!-- bottomfix -->