<% provide(:title, "Privacy") %>
<section class="centered bottomfix">
	<div class="row">
		<div class="columns grid-80 centered clearfix">

		<h2>StaticPages#privacy</h2>
		<p>Find me in app/views/static_pages/privacy.html.erb</p>

		</div><!-- columns -->
	</div><!-- row -->
</section><!-- bottomfix -->