<% provide(:title, "Terms") %>
<section class="centered bottomfix">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
<h1>StaticPages#terms</h1>
<p>Find me in app/views/static_pages/terms.html.erb</p>
		</div><!-- columns -->
	</div><!-- row -->
</section>
