<% provide(:title, "Update Post") %>
<section class="centered profile-section bottomfix">
  <div class="row">
    <div class="columns grid-80 centered clearfix">
		<div class="grid-100 sticky-note first last clear-float">
				<div class="row howrudoing">
					<h3>
					<span class="column">
					<i class="material-icons">assignment</i>
					</span>
					<span class="column">
					Edit Answers
					</span>
					</h3>
					<div class="row-90 centered questions">
    <%= render 'form' %>
    </div>
    </div>
    </div><!-- columns grid-80 -->
  </div><!-- row -->
</section><!-- bottomfix -->
