<% provide(:title, "My positions") %>
<section class="centered bottomfix position-section">
	<div class="row">
		<div class="columns grid-80 centered clearfix">

		<div class="grid-100">

			<div class="sticky-note first last">
				<div class="row index">
				<div class="column">
					<h3>
						<span class="column">
						<i class="material-icons">work</i>
						</span>
						<span class="column">
						My position
						</span>
					</h3>
				</div>
				<div class="grid-100 paginate">
				<%= will_paginate %>
				</div>
				<div class="row-100 columns list">
				<% if @positions.blank? %>
				<h4>There are no positions containing the term <%= params[:search] %>.</h4>
				<% end %>
				<% @positions.each do |position| %>
				<%= render position %>
				<% end %>
				</div>
				<div class="paginate">
				<%= will_paginate %>
				</div>
				</div><!-- row positions -->
			</div><!-- sticky-note end -->

			</div>

		</div><!-- columns -->
	</div><!-- row -->
</section><!-- bottomfix -->

