<% provide(:title, "Add Work Experience") %>
<section class="centered survey-section bottomfix">
	<div class="row">
		<div class="columns grid-80 centered clearfix signup">
		<%= render 'shared/position_form' %>
		</div><!-- columns -->
	</div><!-- row -->
</section><!-- survey-section -->
