<section class="centered bottomfix">
  <div class="row">
    <div class="columns grid-80 centered clearfix">
<h3>Sign up</h3>

<%= render "devise/registrations/form" %>

<%= render "devise/shared/links" %>
    </div><!-- columns -->
  </div><!-- row -->
</section><!-- bottomfix -->