<% provide(:title, "Choose your role") %>
<section class="centered profile-section bottomfix">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
			<div class="grid-100 sticky-note first last clear-float">
				<div class="row howrudoing">
					<div class="row-90 centered questions">
						<h2>
						<span class="column">
						<i class="material-icons">work</i>
						</span>
						<span class="column">
						Choose Your Role
						</span>
						</h2>
					<%= render 'shared/employment_form' %>
					</div><!-- row-90 -->
				</div><!-- row howrudoing -->
			</div><!-- sticky-note -->
		</div><!-- columns grid-80 -->
	</div><!-- row -->
</section><!-- bottomfix -->

