<section class="centered setting-section">
	<div class="row">
		<div class="columns grid-100 centered clearfix">
				<%= form_for User.find(params[:id]) do |f| %>
				<%= render 'shared/error_messages', object: @user %>
				<h3 class="text-center">
				Select Your Ally Circle
				</h3>
			<div class="row-80 centered form-field">
				<%= collection_check_boxes(:user, :ally_ids, @allies, :id, :name) %>
			</div><!-- form-field -->

			<div class="row-80 centered form-field">
				<%= f.submit "Save changes", class: "button secondary extend" %>
				<% end %>
			</div><!-- form-field -->

		</div><!-- columns grid-100 -->
	</div><!-- row -->
</section><!--  setting-section -->
