<section class="centered setting-section">
	<div class="row">
		<div class="columns grid-100 centered clearfix">

			<div class="row-80 centered form-field">
			<div class="gravatar_edit">
				<%= gravatar_for @user %>
				<a href="http://gravatar.com/emails" target="_blank" class="button secondary small">change</a>
			</div><!-- gravator -->
			</div><!-- form-field -->

		</div><!-- columns grid-100 -->
	</div><!-- row -->
</section><!-- setting-section -->
