		<li class="row">
		<div class="column">
		<div class="column profile-pic clearfix">
		<%= gravatar_for user %>
		</div>
		
		</div>
		<div class="column">
		<h4>
		<%= link_to user.name, user %>
		</h4>
		<small>
		Location:
		</small>
		<%= user.location %>
		</div>
		
		<div class="gird-50">
		<small>
		Tags:
		</small>		
		<% if user.admin? %>
		#Admin
		<% end %>
		<% if user.enthusiast? %>
		#Enthusiast
		<% end %>
		<% if user.skeptic? %>
		#Skeptic
		<% end %>
		<% if user.pioneer? %>
		#Pioneer
		<% end %>
		<% if user.navigator? %>
		#Navigator
		<% end %>
		<% if user.coach? %>
		#Coach
		<% end %>
		<% if user.solo? %>
		#Solo
		<% end %>
		</div>
		<% if current_user.admin? && !current_user?(user) %>
				| <%= link_to "delete", user, method: :delete,
		data: { confirm: "You sure?" } %>
		<% end %>
		</li>

