<% provide(:title, "Admin Users") %>
<section class="centered index-section">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
		<h2>Admin Users</h2>
		<ul class="users">
		<% @admins.each do |user| %>
		<%= render user %>
		<% end %>
		</ul>
		</div><!-- columns -->
	</div><!-- row -->
</section><!-- index-section -->
