<% provide(:title, "Chose Ally Circle") %>
<section class="centered bottomfix">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
		<%= render 'allies' %>
		</div><!-- columns grid-80 -->
	</div><!-- row -->
</section><!-- bottomfix -->
