<% provide(:title, "Edit Picture") %>
<section class="centered index-section">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
		<%= render 'avatar' %>
		</div><!-- columns grid-80 -->
	</div><!-- row -->
</section><!-- index-section -->
