<% provide(:title, "Coaches") %>
<section class="centered index-section">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
			<div class="grid-100">
					<h2><i class="material-icons">search</i>Coaches</h2>
					<ul class="users">
					<% @coachs.each do |user| %>
					<%= render user %>
					<% end %>
					</ul>
					<%= will_paginate @coachs %>

			</div><!-- grid-100 -->
		</div><!-- columns -->
	</div><!-- row -->
</section><!-- index-section -->