<% provide(:title, "Sign Up") %>
<section class="centered setting-section">
	<div class="row">
		<div class="columns grid-80 centered clearfix signup">
		<%= render 'form' %>
		</div><!-- columns -->
	</div><!-- row -->
</section><!-- setting section -->