<% provide(:title, "Pioneers") %>
<section class="centered bottomfix">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
		<h2>Pioneers</h2>
		<ul class="users">
		<% @pioneers.each do |user| %>
		<%= render user %>
		<% end %>
		</ul>
		</div><!-- columns -->
	</div><!-- row -->
</section><!-- bottomfix -->
