<% provide(:title, "Edit Skills") %>
<section class="centered setting-section">
	<div class="row">
		<div class="columns grid-100 centered clearfix">
		<%= render 'skills' %>
		</div><!-- columns grid-80 -->
	</div><!-- row -->
</section><!-- bottomfix -->
