<section class="centered dashboard">
<div class="row">
<div class="columns grid-80 centered clearfix">
<h2 class="text-left">
<span class="column">
<i class="material-icons">apps</i>
</span>
<span class="column">
Dashboard
</span>
</h2>

</div>
</div>
</section>
<section class="centered dashboard">

	<div class="row">

		<div class="columns grid-80 centered clearfix">
		<div class="grid-50 sticky-note first">
				<div class="row feed">
					<h3>
					<span class="column">
					Discover
					</span>
					<span class="column righted clearfix">
					<i class="material-icons">widgets</i>
					</span>
					</h3>
				</div><!-- row sticky-note -->
				<div class="bottom text-center">
					<a href="#">
					<span class="sub-menu">
					More
					</span>
					<i class="material-icons">launch</i>
					</a>
				</div><!-- bottom end -->
		</div><!-- grid-50 sticky-note -->

		<div class="screen-m screen-s spacer"></div>

			<div class="grid-50 sticky-note last">
				<div class="row feed">
						<h3>
						<span class="column">
						Envision
						</span>
						<span class="column righted clearfix">
						<i class="material-icons">widgets</i>
						</span>
						</h3>
				</div><!-- row sticky-note -->
				<div class="bottom text-center">
					<a href="#">
					<span class="sub-menu">
					More
					</span>
					<i class="material-icons">launch</i>
					</a>
				</div><!-- bottom end -->
			</div><!-- grid-50 end -->

		</div><!-- columns -->

		<div class="columns grid-80 centered clearfix">
		<div class="grid-50 sticky-note first">
				<div class="row feed">
						<h3>
						<span class="column">
						Design
						</span>
						<span class="column righted clearfix">
						<i class="material-icons">widgets</i>
						</span>
						</h3>
				</div><!-- row sticky-note -->
				<div class="bottom text-center">
					<a href="#">
					<span class="sub-menu">
					More
					</span>
					<i class="material-icons">launch</i>
					</a>
				</div><!-- bottom end -->
		</div><!-- grid-50 sticky-note -->

		<div class="screen-m screen-s spacer"></div>

			<div class="grid-50 sticky-note last">
				<div class="row feed">
						<h3>
						<span class="column">
						Execute
						</span>
						<span class="column righted clearfix">
						<i class="material-icons">widgets</i>
						</span>
						</h3>
				</div><!-- row sticky-note -->
				<div class="bottom text-center">
					<a href="#">
					<span class="sub-menu">
					More
					</span>
					<i class="material-icons">launch</i>
					</a>
				</div><!-- bottom end -->
			</div><!-- grid-50 end -->

		</div><!-- columns -->



	</div><!-- row -->
</section>

<section class="centered dashboard bottomfix">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
			<div class="grid-100 sticky-note first last clear-float">
				<div class="row summary">
					<h3>
					<span class="column">
					<i class="material-icons">lightbulb_outline</i>
					</span>
					<span class="column">
					Inspirations
					</span>
					</h3>
					<p>
					
					</p>
				</div><!-- row -->
				<div class="bottom text-center">
					<a href="#">
					<span class="sub-menu">
					Edit
					</span>
					<i class="material-icons">mode_edit</i>
					</a>
				</div><!-- bottom end -->
			</div><!-- grid-100 sticky-note end -->
		</div><!-- columns grid-90 centered -->
	</div><!-- row end -->

	<div class="row">
		<div class="columns grid-80 centered clearfix">
			<div class="grid-100 sticky-note first last clear-float">
				<div class="row summary">
					<h3>
					<span class="column">
					<i class="material-icons">format_quote</i>
					</span>
					<span class="column">
					Word cloud
					</span>
					</h3>
					<p>
					</p>
				</div><!-- row -->
				<div class="bottom text-center">
					<a href="#">
					<span class="sub-menu">
					Edit
					</span>
					<i class="material-icons">mode_edit</i>
					</a>
				</div><!-- bottom end -->
			</div><!-- grid-100 sticky-note end -->
		</div><!-- columns grid-90 centered -->
	</div><!-- row end -->


</section><!-- centered bottomfix -->

