<% provide(:title, "Welcome") %>
<section class="centered bottomfix">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
		
		<h1>Welcome#index</h1>
		<p>Find me in app/views/welcome/index.html.erb</p>

		</div><!-- columns -->
	</div><!-- row -->
</section><!-- bottomfix -->