<% provide(:title, "Welcome") %>

<% if logged_in? %>

		<%= render 'dashboard' %>

<% else %>



<section class="centered">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
			<div class="grid-50 hello">
			<div class="row-80 centered">
				<div class="table-cell">
					<h4>
					Proparing organizations and individual to
					</h4>
					<h3>
					THRIVE AND SUCCEED
					</h3>
				</div>
				</div>

			</div><!-- columns grid-50 -->
			<div class="grid-50">
				<div class="signup index-form">
					<div class="row-80 centered signup">
					<h3>
					<!-- Start your 90 days free trial! -->
					Get early access and updates!
					</h3>
					</div>
					<%= render 'users/form' %>
				</div>
			</div><!-- columns grid-50 -->
		</div>
	</div><!-- row end -->

</section><!-- centered -->

<section class="centered">
	<div class="row">
		<div class="grid-80 centered clearfix hello">
			<div class="grid-100 centered picture">
			<!-- Picture in background -->
			</div>

	</div><!-- row -->
</section>

<section class=" strip bottomfix">
	<div class="row">
			<div class="columns grid-80 centered text-center" id="contact">
				<h3 class="italic">
				It's time to THRIVE.
				</h3>
				<a class="button medium centered success" href="mailto:contact@hugehood.co">
				CONTACT &gt;&gt;
				</a>
			</div>
	</div><!-- row end -->
</section><!-- bottomfix -->

<% end %>
