<% provide(:title, "My Company") %>
<section class="centered bottomfix">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
		<h2>My Company</h2>
		<ul class="companies">
		<%= render company %>
		<% end %>
		</ul>
		</div><!-- columns -->
	</div><!-- row -->
</section><!-- bottomfix -->

