<section class="centered bottomfix">
  <div class="row">
    <div class="columns grid-80 centered clearfix">

<h2>Log in</h2>

<%= render "devise/sessions/form" %>

<%= render "devise/shared/links" %>

    </div><!-- columns -->
  </div><!-- row -->
</section><!-- bottomfix -->
