<% provide(:title, "Update Post") %>
<section class="centered bottomfix">
  <div class="row">
    <div class="columns grid-80 centered clearfix">
    <%= render 'form' %>
    </div><!-- columns grid-80 -->
  </div><!-- row -->
</section><!-- bottomfix -->
