<% provide(:title, "Survey") %>
<section class="centered survey-section bottomfix">
	<div class="row">
		<div class="columns grid-80 centered clearfix">
		<%= render 'shared/survey_form' %>
		</div><!-- columns grid-80 -->
	</div><!-- row -->
</section><!-- bottomfix -->

