      <!-- Tip Content -->
    <ol id="joyRideTipContent">
      <li data-id="numero1" data-text="Next" class="custom">
        <h2>Search People</h2>
        <p>You can search people with "Name", "Email", "Industry", "Location", "Summary".</p>
      </li>
      <li data-id="numero2" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
        <h2>Profile</h2>
        <p>Edit Profile, join Ally circle, more deatails and futther development coming soon!</p>
      </li>
      <li data-id="numero3" data-button="Next" data-options="tipLocation:right">
        <h2>Work Experience</h2>
        <p>Add/Edit your work experience. LinkedIn dosen't open api for data transpotatioin as public. It needs to be "Apply with LinkedIn partner"..</p>
      </li>
      <li data-button="OK!">
        <h2>Take a look profile page</h2>
        <p>Go to profile page from menu and see lataset update..</p>
      </li>
      <li data-class="someclass" data-button="Next" data-options="tipLocation:right">
        <h2>Survey</h2>
        <p>Styling yet progress but here is where we can playaround data visualization.</p>
      </li>
      <li data-id="numero5" data-button="Close">
        <h2>Compnay</h2>
        <p>Right now, there is only basics on company feature, add employee, dashboard coming soon!</p>
      </li>
    </ol>

